
nav {
    display: flex;
    justify-content: center;
    border-bottom: lightgray solid 1px;
    padding-bottom: 20px;
    padding-left: 300px;
}

.link {
    padding-left: 15px;
    padding-right: 15px;
}